div(class="form-group row",style="display:none;",id="parserinfo-flipkart_sellers,flipkart_sellers_spider|flipkart-sellers")
    .col-sm-4
    .col-sm-5
        div(class="form-text alert alert-info")
            strong The Flipkart.com's "Get Seller Information" pipeline contains 1 segment
            ol
                li Fetching &amp; Processing of Seller Information by entering the ProductID in a pre-defined format
            div
                strong Output
                ol
                    li List of sellers for each product
            div
                em
                    strong Note: 
                    ul
                        li The fetching is done via calling an API, which returns a JSON
                        li The seller information is fetched in totality the first time
