div(class="form-group row",style="display:none;",id="parserinfo-blibli_product_fetcher,blibli_product_fetcher|blibli_product_fetcher_results,blibli_product_parser_results")
    .col-sm-4
    .col-sm-5
        div(class="form-text alert alert-info")
            strong The "Get Product Info for Blibli" pipeline contains 2 segments
            ol
                li Fetching of Product Pages by Product ID/Unique Identifier, or Product URLs
                li Processing of Product Page and retrieving its details
            div
                strong Output
                ol
                    li List of Product JSON retrieved for each product
            div
                em
                    strong Note: 
                    ul
                        li The fetching is done via calling an API, which returns a JSON