div(class="form-group row",style="display:none;",id="parserinfo-amazon-categories-fetcher,categories_fetcher|categories,products")
    .col-sm-4
    .col-sm-5
        div(class="form-text alert alert-info")
            strong The "Categories &amp; Top Products" pipeline contains 2 segments
            ol
                li Fetching of Categories based on the URL (e.g. of Bestsellers, Most Wished For, Hot New Releases etc.)
                li Processing of Product Information listed in each category
            div
                strong Output
                ol
                    li List of Categories
                    li List of Products in each of the categories