div(class="form-group row",style="display:none;",id="parserinfo-amazon_product_page_fetcher,product_page_fetcher|custom-asin-pages,product-details")
    .col-sm-4
    .col-sm-5
        div(class="form-text alert alert-info")
            strong The "Custom ASINs / ASIN URLs Product Details / Search Products By ASINs" pipeline contains 2 segments
            ol
                li Fetching of Product Pages by either visiting direct link with ASIN or searching for ASIN and then getting to the link
                li Processing of Product Page and retrieving its details
            div
                strong Output
                ol
                    li List of Product URLs retrieved for each product
                    li Product Details of each product
            div
                em
                    strong Note: 
                span The difference between the 3 options are
                    ul
                        li "Custom ASINs" contains only ASINs as the source
                        li "Custom ASIN URLs" need to be complete URLs having ASIN at the end
                        li "Search Products By ASINs" is similar to Custom ASINs and require only ASINs as the source