div(class="form-group row",style="display:none;",id="parserinfo-tatacliq_reviews,tatacliq_reviews|tatacliq-reviews")
    .col-sm-4
    .col-sm-5
        div(class="form-text alert alert-info")
            strong The Tata CLiQ.com's "Fetch Reviews by ASIN/Unique Identifer" pipeline contains 1 segment
            ol
                li Fetching &amp; Processing of Reviews by entering the unique identifier in a pre-defined format
            div
                strong Output
                ol
                    li List of Reviews each product
            div
                em
                    strong Note: 
                    ul
                        li The fetching is done via calling an API, which returns a JSON
                        li The review information is fetched in totality every time
