div(class="form-group row",style="display:none;",id="parserinfo-tokopedia_category_fetcher,tokopedia_category_spider|tokopedia-categories")
    .col-sm-4
    .col-sm-5
        div(class="form-text alert alert-info")
            strong The "Categories by URL" pipeline contains 2 segments
            ol
                li Fetching of Categories based on the URL
                li Processing of Product Information listed in each category
            div
                strong Output
                ol
                    li List of Product JSON retrieved for each product
            div
                em
                    strong Note: 
                    ul
                        li The fetching is done via calling an API, which returns a JSON