div(class="form-group row",style="display:none;",id="parserinfo-amazon_serp_fetcher,serp_fetcher|serp-pages,serp-products")
    .col-sm-4
    .col-sm-5
        div(class="form-text alert alert-info")
            strong The "Keyword Search Results (SERP)" pipeline contains 2 segments
            ol
                li Fetching of Pages by entering a keyword
                li Processing of Product Listing/Ranking
            div
                strong Output
                ol
                    li List of Search Pages retrieved for each keyword
                    li List of Products for each keyword