div(class="form-group row",style="display:none;",id="parserinfo-grofers_serp_fetcher,grofers_serp_fetcher|grofers-serp")
    .col-sm-4
    .col-sm-5
        div(class="form-text alert alert-info")
            strong The Grofers.com's "Keyword Search Results (SERP)" pipeline contains 1 segment
            ol
                li Fetching &amp; Processing of Product Listing/Ranking Pages by entering a keyword
            div
                strong Output
                ol
                    li List of Products for each keyword and their ranking on each page
            div
                em
                    strong Note: 
                    ul
                        li The fetching is done via calling an API, which returns a JSON
                        li The storage URL link contains that JSON